.header{
    width: 100%;
    display: flex;
    justify-content: end;
}
button{
    margin:0 10px;
}
ul{
    margin: 50px 0;
    list-style: none;
width: 300px;
border-radius: 20px;
padding: 10px;
background-color: rgb(116, 116, 116);
    position: absolute;
    top: 0px;
    /* display: none; */
}